@import "Stylesheet2.scss";
// MBeckt "I wrote most of everything in the website, not much here I didn't do if any." -Me talking to my laptop.
body
{
}

#Head{
    font-weight: bold;
    display:inline-block;
    color:#0ff;
    background-color:brown;
    width:105%;
    margin-left:-0.5em;
    margin-top:-0.7em;
    text-decoration:none;
    z-index:50;
}

#Home{
    color:#0ff;
    display:inline-block;
    background-color: brown;
    padding-left:.35em;
    padding-right:.35em;
    margin-left:0.35em;
    text-decoration:none;
      &:hover{
           color:#fff;
           font-weight: bold;}
    &:active{
           background-color: #691414;
           border-radius:7px;
    }
}

#slidey{
    background-color:#FFAC30;
    width:10em;
    height:2em;
    display:fixed;
    color:Blue;
    float:right;
    margin-right:02em;
    margin-top:0em;
    margin-bottom:0em;
    border-radius:3px;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    border-left:black 0px;
    border:pink solid 1px;
    p{
    font-size:0.7em;
    }
}

#button{
    background-color:orange;
    width:2em;
    height:2em;
    display:relative;
    color:#ffffff;
    margin-top:0.03em;
    margin-bottom:0em;
    margin-right:-0.05em;
    border-bottom:pink solid 1px;
    border-top:pink solid 1px;
    border-left:pink solid 1px;
    border-radius:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    float:right;
    z-index: 999999;
}

html {
    text:{
        decoration: none; // New Sass files are Awesome!
    }
    font:{
        family: Arial, sans-serif;
        size: 1em;
    }
    overflow-x: hidden;
    background-color:#ffd800;
}