#Block1 {
  display: inline-block;
  background-color: #69D2E7;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  #Block1 p {
    font-size: 1.9em; }

#Block2 {
  display: inline-block;
  background-color: #00ff21;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  #Block2 p {
    font-size: 1.9em; }

#Block3 {
  display: inline-block;
  background-color: #ff6a00;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  #Block3 p {
    font-size: 1.9em; }

#Block4 {
  display: inline-block;
  background-color: #b200ff;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  #Block4 p {
    font-size: 1.9em; }

#Block5 {
  display: inline-block;
  background-color: #808080;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  #Block5 p {
    font-size: 1.9em; }

#Head {
  font-weight: bold;
  display: inline-block;
  color: #0ff;
  background-color: brown;
  width: 105%;
  margin-left: -0.5em;
  margin-top: -0.7em;
  text-decoration: none;
  z-index: 50; }

#Home {
  color: #0ff;
  display: inline-block;
  background-color: brown;
  padding-left: 0.35em;
  padding-right: 0.35em;
  margin-left: 0.35em;
  text-decoration: none; }
  #Home:hover {
    color: #fff;
    font-weight: bold; }
  #Home:active {
    background-color: #691414;
    border-radius: 7px; }

#slidey {
  background-color: #FFAC30;
  width: 10em;
  height: 2em;
  display: fixed;
  color: Blue;
  float: right;
  margin-right: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: black 0px;
  border: pink solid 1px; }
  #slidey p {
    font-size: 0.7em; }

#button {
  background-color: orange;
  width: 2em;
  height: 2em;
  display: relative;
  color: #ffffff;
  margin-top: 0.03em;
  margin-bottom: 0em;
  margin-right: -0.05em;
  border-bottom: pink solid 1px;
  border-top: pink solid 1px;
  border-left: pink solid 1px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float: right;
  z-index: 999999; }

html {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  background-color: #ffd800; }
