.Block{
    #Block1{
    display:inline-block;
    background-color: #69D2E7;
    color: #ffffff;
    width: 10em;
    height: 10em;
    margin-left: 1em;
    margin-top: 2em;
    border-radius: 1em;
    border:pink solid 0.5em;
    p{
    font-size: 1.9em;}
    text-align: center;
    vertical-align: middle;}
    #Block2{
    display:inline-block;
    background-color: #69D2E7;
    color: #ffffff;
    width: 10em;
    height: 10em;
    margin-left: 1em;
    margin-top: 2em;
    border-radius: 1em;
    border:pink solid 0.5em;
    p{
    font-size: 1.9em;}
    text-align: center;
    vertical-align: middle;}
    #Block3{
    display:inline-block;
    background-color: #69D2E7;
    color: #ffffff;
    width: 10em;
    height: 10em;
    margin-left: 1em;
    margin-top: 2em;
    border-radius: 1em;
    border:pink solid 0.5em;
    p{
    font-size: 1.9em;}
    text-align: center;
    vertical-align: middle;}
    #Block4{
    display:inline-block;
    background-color: #69D2E7;
    color: #ffffff;
    width: 10em;
    height: 10em;
    margin-left: 1em;
    margin-top: 2em;
    border-radius: 1em;
    border:pink solid 0.5em;
    p{
    font-size: 1.9em;}
    text-align: center;
    vertical-align: middle;}
    #Block5{
    display:inline-block;
    background-color: #69D2E7;
    color: #ffffff;
    width: 10em;
    height: 10em;
    margin-left: 1em;
    margin-top: 2em;
    border-radius: 1em;
    border:pink solid 0.5em;
    p{
    font-size: 1.9em;}
    text-align: center;
    vertical-align: middle;}
}
