.Block #Block1 {
  display: inline-block;
  background-color: #69D2E7;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  .Block #Block1 p {
    font-size: 1.9em; }
.Block #Block2 {
  display: inline-block;
  background-color: #69D2E7;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  .Block #Block2 p {
    font-size: 1.9em; }
.Block #Block3 {
  display: inline-block;
  background-color: #69D2E7;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  .Block #Block3 p {
    font-size: 1.9em; }
.Block #Block4 {
  display: inline-block;
  background-color: #69D2E7;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  .Block #Block4 p {
    font-size: 1.9em; }
.Block #Block5 {
  display: inline-block;
  background-color: #69D2E7;
  color: #ffffff;
  width: 10em;
  height: 10em;
  margin-left: 1em;
  margin-top: 2em;
  border-radius: 1em;
  border: pink solid 0.5em;
  text-align: center;
  vertical-align: middle; }
  .Block #Block5 p {
    font-size: 1.9em; }

#Head {
  font-weight: bold;
  display: inline-block;
  color: #0ff;
  background-color: brown;
  width: 105%;
  margin-left: -0.5em;
  margin-top: -0.7em;
  text-decoration: none; }

#Home {
  color: #0ff;
  display: inline-block;
  background-color: brown;
  padding-left: 0.35em;
  padding-right: 0.35em;
  margin-left: 0.35em;
  text-decoration: none; }
  #Home:hover {
    color: #fff;
    font-weight: bold; }
  #Home:active {
    background-color: #691414;
    border-radius: 7px; }

html {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  background-color: #ffd800; }
