@import "Stylesheet2.scss";
// MBeckt "I wrote most of everything in the website, not much here I didn't do if any." -Me talking to my laptop.
body
{
}

#Head{
    font-weight: bold;
    display:inline-block;
    color:#0ff;
    background-color:brown;
    width:105%;
    margin-left:-0.5em;
    margin-top:-0.7em;
    text-decoration:none;
}

#Home{
    color:#0ff;
    display:inline-block;
    background-color: brown;
    padding-left:.35em;
    padding-right:.35em;
    margin-left:0.35em;
    text-decoration:none;
      &:hover{
           color:#fff;
           font-weight: bold;}
    &:active{
           background-color: #691414;
           border-radius:7px;
    }
}

html {
    text:{
        decoration: none; // New Sass files are Awesome!
    }
    font:{
        family: Arial, sans-serif;
        size: 1em;
    }
    overflow-x: hidden;
    background-color:#ffd800;
}